PROOF_MODE=mock
SP1_PROVER=mock

L1_RPC_URL=http://localhost:8545
L1_CHAIN_ID=31337
DEPLOYER_PRIVATE_KEY=0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80

ROLLUP_ADDRESS=
SP1_VERIFIER_ADDRESS=
PROGRAM_VKEY=
GENESIS_ROOT=

SEQUENCER_URL=http://localhost:7001
PROVER_SVC_URL=http://localhost:7002

NETWORK_PRIVATE_KEY=
